* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}
.intro-text {
    font-size: 30px;
    padding-right: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}

h2 {
    display: flex;
    padding:30px;
    width: 100%;
    color:black;
    background-color:rgba(255, 255, 255, 1);
    max-height:80px;
    justify-content: center;
}

h3 {
    display: flex;
    padding:50px;
    color:black;
    background-color:rgba(255, 255, 255, 0.85);
    justify-content: center;
}

h4 {
    margin-bottom: 25px;
}
article {
    display: flex;
}
body, html {
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
  /*  background-image: url("images/city-buildings-night.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; */
}
/*navbar*/
/*nav bar attributes referenced from W3Schools*/
.navbar {
    background-color: rgba(0, 0, 0, 1);
    overflow: hidden; 
    display: block;
    z-index: 5000;
    justify-content: center;
    position: sticky; 
    top: 0;
    border-bottom: 2px solid gray;
}

.navbar ul {
    list-style-type: none;
    padding: 14px 16px;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    padding: 14px 16px;
    font-weight: bolder;
    font-size: 1.1rem;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;
}
.navbar ul li a:hover 
{
    background-color: white;
    color: black;  
    box-shadow: 0 0 10px white;
    border-radius: 3px;
}
/* CONTAINER */
.container {
    display: flex;
    flex-wrap: wrap;
    height: calc(100% - 48px); /* Adjusted height taking navbar into account --used MDN as reference*/
    margin-top: 10px;
}
/*CONTENT*/
.content {  
    /*padding: 20px; */
    padding-left:15%;
    padding-right:15%;
    height: 100%;
    overflow-y: auto;
}
.name {
    color:aliceblue;
    display: flex;
    justify-content: center;
    font-weight: bolder;
}
.big-row {
    width: 100%;
    min-height:100px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-style: double;
    opacity: .9;
}
.about-me {
    flex-grow: 1;
}

.portfolio {
    height: 50%;
    background-image:url(./images/Horiseon.png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    opacity: .9;
} 

.big-row .hero {
    width: 15%;
    height: relative;
    border-radius: 100px;
    box-shadow: 5px;
    padding: 5px;
} 
.columns {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.column {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.row {
    padding: 10px;
    min-height: auto;
    margin-bottom: 10px;
    background-color: bisque;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.grid {
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .9;
}


.javascript {
    background-image:url(./images/comingsoon.jpg);
}

.api {
    background-image:url(./images/burger.png);
}

.sql {
    background-image:url(./images/husky.png);
}
.express {

    background-image:url(./images/jollibee.png);
}

.grid:hover {
    /*min-height: 250px; */
    background-image: none;
    background-color: black;
    transition: all .5s ease;

}

/*found from W3 schools */  
.column .row:last-child {
    margin-bottom: 0;
}

.contact {
    margin-top: 25px;
    padding:20px;
    text-align:center;
    background-color:rgb(0, 0, 0);
    color: white;
    border-top: 2px solid gray;
}

.contact a {
    text-decoration: none;
    color: white;
    padding-left:25px;
}

.contact a:hover{
    text-decoration: underline;
    font-weight: bolder;
}

@media screen and (max-width: 768px) {
    .content {
        flex: 0 0 100%;
    }
    .navbar ul li {
        padding: 0;
        font-size: .7rem;
    }
}